<!-- 
<img src="src\assets\attitude-wallpapers-hd-attitude-hd-wallpaper (4).jpg" type="image" >

<img class="img-responsive" src="assets\attitude-wallpapers-hd-attitude-hd-wallpaper (4).jpg"> -->


<!-- 
   <div>

<button (click)="incriment()" >click me</button>
<button (click)="decriment()" >click me</button>

<h1>event :{{announcement}}</h1>

</div>

<div>
    <input type="text"
    placeholder="enter"


    (input)="changeName($event)"
    >

    <h2> Name : {{name}}</h2>
</div>
<div>
    <input type="number"
    placeholder="enter"


    (input)="changeMobile($event)"
    >

    <h2> Mobile : {{mobile}}</h2>
</div>
<div>
    <input type="number"
    placeholder="enter"


    (input)="changeAge($event)"
    >

    <h2> Age : {{age}}</h2>
</div>
<div>
    <input type="email"
    placeholder="enter"


    (input)="changeemail($event)"
    >

    <h2> Email : {{email}}</h2>
</div>

<div class="alert alert-primary" role="alert">
    This is a primary alert with <a href="user" class="alert-link">an example link</a>. Give it a click if you like.
  </div> -->


  <div class="navbar navbar-dark bg-dark navbar-expand-md ">

    <a href="" class="navbar-brand"> logo</a>

   

   


   
            <button class="navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target= "#Menu">

                <span class="navbar-toggler-item">

                </span>

            </button>

            <div class="navbar-collapse collapse" id="Menu">
                <ul class="navbar-nav ml-auto ">
        

            <li class="nav-item">
    
                <a class="nav-link active" href="">Home</a>
            
            </li>
            <li class="nav-item">
    
                <a class="nav-link active"  routerLink="/About">about</a>
            
    
            </li>
            <li class="nav-item">
    
                <a class="nav-link active" href="">contact us</a>
            
    
            </li>
    
        </ul>
    </div>

    <a routerLink="/store"  routerLinkActive="active"> Subjects</a>


  </div>

  <br>
  <br>
  <br>
  <br>



  <div class="container"> 
    <ul class="nav nav-tabs">
        <li class="nav-item">
<a type="button"  class="button button-danger" routerLink="/bar-chart">Bar Charts</a>
        </li>

        <li class="nav-item">
            <a type="button"  class="button button-danger" routerLink="/doughnut-chart">doughnut-chart</a>
                    </li>
                    <li class="nav-item">
                        <a type="button"  class="button button-danger" routerLink="/radar-chart">radar Charts</a>
                                </li>
                                <li class="nav-item">
                                    <a type="button"  class="button button-danger" routerLink="/pie-chart">pie Charts</a>
                                            </li>
    </ul>

  </div>
  <br>
  <br>
  <br>
  <br>
<div>

</div>
  <!-- <div>
    <button (click)="test()">click</button>
  </div> -->

  
